body {

  font-family: Ubuntu, sans-serif;
  color: black;
  background-color: whitesmoke;
  font-size: 16px;
}
body p,
body ul {
  font-family: Vollkorn, serif;
  padding-bottom: 1em;
}

footer{
    margin-top: 20px;
}

/*CLASSES*/

.header{
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/banner-desktop.jpg);
   background-size: cover;    
}

.header h1{
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.meat {
  background-color: #e82c0c;
}
.veggie {
  background-color: #dfa074;
}
.rice {
  background-color: #eac119;
}
.toppings {
  background-color: #ff0dff;
}
.meat,
.veggie,
.rice,
.toppings {
  color: white;
  padding-top: .25em;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

.btn{
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa{
    display: inline-block;   
}

/* Tablet CSS code and up */
@media only screen and (min-width: 481px) {

}
/* Desktop CSS code and up */
@media only screen and (min-width: 1025px) {

    .meat{
        border-top-left-radius: 2em;
    }
    
    .toppings{
        border-top-right-radius: 2em;
    }
    
}
